* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.modal {
  width: 386px;
  height: 512px;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.title,
.subtitle {
  margin: 0;
  color: #484A57;
  letter-spacing: 0.05em;
}

.title {
  font-size: 36px;
  line-height: 1.6;
}

.subtitle {
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
}

.thumbs {
  margin-top: auto;
}

.btn {
  width: 80%;
  height: 56px;
  color: #FFF;
  background: #FD5D39;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: auto;
}